#aka-loader {
  position: relative;

  width: 100%;
  height: 100%;

  text-align: center;
}
#aka-loader-image {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#aka-app {
  display: none;

  margin-top: 32px;
  margin-bottom: 32px;
}

#aka-header {
  display: none;

  min-width: 100%;
  min-height: 640px;

  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(240, 128, 128, 1) 100%), url(../images/beautiful-bloom-blooming-173665.jpg);
  background-size: cover;

  box-shadow: 0 0 16px gray;
}

#aka-updatenotify {
  display: none;
}

#aka-footer {
  display: none;

  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.aka-animation-fade {
  opacity: 1;
  transition: opacity 1s;
}
.aka-animation-faded {
  opacity: 0;
}

.aka-text-strongholds {
  background-color: black;

  color: white;

  font-size: 1.1em;
}

@media (max-width: 768px) {
  .aka-desktop {
    display: none !important;
  }
}
