/*
 *   AkaPage;
 * Copyright 2019 Seia-Soto. All rights reserved.
 */
html {
  scroll-behavior: smooth;
}

.pointed {
  color: white;
  background-color: black;
}
.shadow {
  box-shadow: 0px 2px 2px #2c2f33;
}

/*
 * Body;
 */
body {

}

/*
 * Header;
 */
header {
  min-height: 480px;

  background-image: linear-gradient(to bottom, black 5px, transparent), url(../images/architecture-books-bookshelves-1837726.jpg);
  background-size: cover;
}

/*
 * Navbar;
 */
nav {

}

.logo {
  margin-right: 1.5em !important;
}

/*
 * Hero;
 */
#hero {
  padding: 12px;
  margin-top: 40px;

  color: white;
}

/*
 * Content;
 */
section.content {
  margin-top: 32px;
}

/*
 * Footer;
 */
footer {
  margin: 5em 0em 0em !important;
  padding: 5em 0em !important;
}
